<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reporte alumnos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/styles/cssandjs/tabla.js}"></script>
    
</head>
<body>
    
    <div class="table-responsive" id="table-responsive-padre">
    	<h2>Alumnas de Biología en el trimestre 20P</h2> 
    </div>

	  
 </body>
</html>